<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="index.css" />
    <title>EJS Test</title>
    <script>
      function getData() {
        const inputValue = document.getElementById("input").value;
        const documentFragment = document.createDocumentFragment();
        const qShow = document.getElementById("qShow");
        const newInput = inputValue * 1;
        console.log({ newInput });

        for (let i = 1; i <= newInput; i++) {
          let qBox = document.createElement("div");
          qBox.classList.add("qBox");

          let qIndex = document.createElement("div");
          qIndex.classList.add("qIndex");
          qIndex.innerText = i;
          qBox.append(qIndex);
          documentFragment.append(qBox);
        }
        qShow.innerHTML = "";
        qShow.appendChild(documentFragment);
      }
    </script>
  </head>
  <body>
    <div class="container">
      <div class="columnOne">
        <div class="quantity">
          <div class="qContainer">
            <h4 class="qText">Quantity</h4>
            <form id="form" onsubmit="getData();return false">
              <input
                id="input"
                type="text"
                placeholder="Type here"
                onfocus="this.placeholder = ''"
                onblur="this.placeholder = 'Type here'"
              />
            </form>
          </div>
          <div class="smallBox">OBJ1</div>
        </div>
      </div>
      <div class="columnTwo">
        <div class="qShow" id="qShow"></div>
        <div class="smallBox" id="smallBoxTwo">OBJ3</div>
      </div>
    </div>
  </body>
</html>
