*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-margin-before: 0;
  margin-block-start: 0;
  -webkit-margin-after: 0;
  margin-block-end: 0;
  font-family: "Roboto", sans-serif;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
body {
  padding: 2rem;
  height: 100vh;
}
.container {
  display: flex;
  border: 2px solid #969997;
  height: 100%;
}
.columnOne {
  flex-basis: 25%;
  background-color: #c5c9c6;
  display: flex;
  align-items: flex-end;
  border-right: 2px solid #969997;
}
.quantity {
  display: grid;
  grid-template-columns: auto;
  align-content: space-between;
  height: 60%;
  width: 100%;
  font-size: 2rem;
}
.qContainer {
  background-color: #adadad;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem 0;
  border-top: 2px solid #969997;
  border-bottom: 2px solid #969997;
}
.qText {
  margin: 0;
}
#input {
  text-align: center;
  padding: 0.6rem 0rem;
  margin-top: 1.3rem;
  width: 55%;
  border: 2px solid #969997;
}
#input::-webkit-input-placeholder {
  color: inherit;
  font-weight: bold;
  font-size: 1.6rem;
}
#input:-ms-input-placeholder {
  color: inherit;
  font-weight: bold;
  font-size: 1.6rem;
}
#input::placeholder {
  color: inherit;
  font-weight: bold;
  font-size: 1.6rem;
}
#input:focus {
  outline: 0;
}
.smallBox {
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 2rem;
  width: 10%;
  border-top: 2px solid #969997;
  border-right: 2px solid #969997;
}
