*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-margin-before: 0;
  margin-block-start: 0;
  -webkit-margin-after: 0;
  margin-block-end: 0;
  font-family: "Roboto", sans-serif;
}
html {
  position: relative;
  box-sizing: border-box;
  font-size: 62.5%;
  overflow: auto;
}

body {
  position: relative;
  padding: 2rem 2rem 2rem 3rem;
  overflow: auto;
}

.container {
  margin: auto;
  min-height: calc(100vh - 6rem);
  min-width: 350px;
  max-width: 2000px;
  display: flex;
  border: 2px solid #969997;
}
.columnOne {
  flex-basis: 35%;
  background-color: #c5c9c6;
  display: flex;
  align-items: flex-end;
  border-right: 2px solid #969997;
}
@media screen and (min-width: 700px) {
  .columnOne {
    flex-basis: 23%;
  }
}
.quantity {
  display: grid;
  grid-template-columns: auto;
  align-content: space-between;
  height: 60%;
  width: 100%;
  font-size: 2rem;
}
.qContainer {
  background-color: #b5b3b3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem 0;
  border-top: 2px solid #969997;
  border-bottom: 2px solid #969997;
}
.qText {
  margin: 0;
}
#input {
  text-align: center;
  padding: 0.6rem 0rem;
  margin-top: 1.3rem;
  width: 55%;
  border: 2px solid #969997;
  background-color: #e3e1e1;
}
#input::placeholder {
  color: inherit;
  font-weight: bold;
  font-size: 1.3rem;
}
@media screen and (min-width: 600px) {
  #input::placeholder {
    color: inherit;
    font-weight: bold;
    font-size: 1.6rem;
  }
}
#input:focus {
  outline: 0;
}
.smallBox {
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 2rem;
  width: 4rem;
  border-top: 2px solid #969997;
  border-right: 2px solid #969997;
}
.columnTwo {
  flex-grow: 1;
  background-color: #e3e1e1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.qShow {
  width: 90%;
  height: 100%;
  margin: auto;
  padding: 5rem 0;
}
.qBox {
  border: 2px solid #969997;
  background-color: #b5b3b3;
  height: 7.5rem;
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
  margin-top: 5rem;
}
.qBox:first-child {
  margin-top: 0;
}
.qIndex {
  height: 5.5rem;
  width: 5.5rem;
  border-radius: 50%;
  background-color: #e3e1e1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
}
#smallBoxTwo {
  border-right: 0;
  border-left: 2px solid #969997;
  background-color: #bfbfbf;
}
